{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Login
{% endblock title %}

{% block heading %}
  Login
{% endblock heading %}

{% block sub_heading %}
  Example App
{% endblock sub_heading %}

{% block menu %}
  {% if not user.is_authenticated %}
    <li>
      <a href="{% url "register" %}">Register</a>
    </li>
  {% endif %}
  {% if user.is_authenticated %}
    <li>
      <a href="{% url "admin:index" %}">Admin</a>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock menu %}

{% block footer %}
{% endblock footer %}
