{% extends "project/base.html" %}

{% block sub_title %}
  Login
{% endblock sub_title %}

{% block sub_heading %}
  Login
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Login' submit='Log in' %}
      <div>
        Not a member?
        <a href="{# url 'registration_register' #}">
          Click here to register...
        </a>
      </div>
      <div>
        Forgot your password?
        <a href="{# url 'auth_password_reset' #}">
          Click here to reset it...
        </a>
      </div>
    </div>
  </div>
{% endblock %}
