{% extends 'dash/base.html' %}

{% block sub_title %}
  Password reset
{% endblock sub_title %}

{% block sub_heading %}
  Password reset
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Reset password' submit='Reset password' %}
      <p>
        Please enter your email address and click the "Reset password" button.
      </p>
      <p>
        We will send password reset instructions to your email address.
      </p>
    </div>
  </div>
{% endblock %}
