{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
  Login
{% endblock title %}

{% block heading %}
  Login
{% endblock heading %}

{% block sub_heading %}
  Example App
{% endblock sub_heading %}

{% block menu %}
  {% if not user.is_authenticated %}
    <li>
      <a href="{% url "register" %}" class="pure-menu-link">Register</a>
    </li>
  {% endif %}
  <li>
    <a href="{% url 'example.test' %}" class="pure-menu-link">Test</a>
  </li>
  {% if user.is_authenticated %}
    <li>
      <a href="{% url "admin:index" %}" class="pure-menu-link">Admin</a>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock menu %}

{% block footer %}
{% endblock footer %}
